<form class="form"> 
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <mat-icon>book</mat-icon> Password Manager</span>
      <span class="navBar"></span>
      <a href="javascript:;"><mat-icon svgIcon="exit"></mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="pesquisa"> 
  <h1>Pesquisa de Password</h1>
</div>



<!-- <form class="example-form">  -->
   <mat-form-field class="pesquisa-form">
    <mat-label class="pesquisa">Digite a Password Password</mat-label>
<input  matInput placeholder="Ex. Password" class="pesquisa">   
  </mat-form-field>
  <a button mat-button>Pesquisar</a>
  
   </form>
   <br><br>
   <app-grid-pesquisa></app-grid-pesquisa>










