@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pesquisa-form {
  min-width: 550px;
  max-width: 800px;
  padding-right: 35px;
}

.pesquisa {
  padding: 25px;
}



